---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, author, pubDate, updatedDate, heroImage } =
  Astro.props;
---

<BaseLayout title={title} isBlogPost={true} description={description}>
  <article>
    <div class="hero-image">
      {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
    </div>
    <div class="prose">
      <div class="title">
        <h1>{title}</h1>
        Author: {author}
        <div class="date">
          Published <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
  main {
    width: calc(100% - 2em);
    max-width: 100%;
    margin: 0;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }
  .prose {
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
  .title {
    margin-bottom: 1em;
    padding-top: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .date {
    margin-top: 0.5em;
    color: rgb(var(--gray));
    font-style: italic;
  }
</style>
